.env
__pycache__
\#docker-compose/.env
Proxy/logs/global/access.log
Proxy/logs/global/error.log
Proxy/vhost/default
Proxy/conf/default.conf
Proxy/data
Proxy/logs
Proxy/passwd
Proxy/vhost

node_modules
.pnp
.pnp.js
coverage
build
misc
.idea
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Getinnov/Micro/
